#graph {
    border-bottom: 1px solid black;
    font-size: 12px;
}

svg {
    width: 100%;
    float: none;
    border: 0;
}

#Sidepanel {
    width: 200px;
}

#svgcontainer {
    float: left;
    overflow: hidden;
    width: 1000px;
    border: 1px solid black;
}

#control {
    border-left: 0;
    height: 100%;
}

#papers {
    border-top: 0;
    border-left: 0;
    overflow: auto;
}

#papers p {
    font-family: Verdana, Verdana, "Sans Serif";   
    padding-left: 5px;
    padding-bottom: 10px;
}

#papers h1 {
    padding: 10px;
    padding-left: 5px;
    font-size: 12px;
    text-decoration: underline;
}

path.timetick {
    fill: #FE3436;
}

line.datebar, line.timetick {
    stroke: black;
    stroke-width: 2px;
}

line.link {
    stroke: #999999;
    stroke-opacity: .60;
}
line.high {
    stroke: #FE3436;
}
circle {
    fill: #4daf4a;
}
circle.other {
    fill: #377eb8;
}
circle.high {
    fill: #e41a1c;
}
