#content {
    height: 100px;
    overflow: auto;
}

#buttons {
    text-align: center;
}

#Tweets {
    float: left;
    border: 1px solid black;
    border-right: 0;
    width: 200px;
}

#Tweets input {
    text-align: center;
    width: 96%;
    margin-bottom: 7px;
}

#Tweets select {
    width: 100%;
    margin-bottom: 7px;
}

#Tweets p {
    padding-left: 10px;
    padding-top: 7px;
}

#Tweets button {
    width: 25%;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#topbar {
    stroke: black;
    stroke-width: 2px;
}

li {
    list-style-type: none;
    text-align: center;
}

li.username {
    font-weight: bold;
}

li.date {
}

li.text {
    text-align: left;
    padding-bottom: 15px;
}



line.greybar {
    stroke: grey;
    stroke-width: 6px;
    opacity: 0.15;
}

line.weekend {
    stroke: green;
}

path.path {
    stroke-width: 3px;
    opacity: 0.5;
}

line.high {
    stroke-width: 8px;
    opacity: 0.25;
}

text.alone {
    font-weight: bold;
}

text.high {
    font-weight: bold;
    fill: blue;
    font-size: 12px;
}

table.tweet {
    width: 100%;
    border: solid black;
    border-width: 1px 0;
}


